# =========================
# Sistema Operacional
# =========================
.DS_Store

# =========================
# Arquivos sensíveis
# =========================
.env
database-credentials.json

# Documentação local
frontend/doc/
backend/doc/

# =========================
# Dart / Flutter / Dart Frog
# =========================
.dart_tool/
.packages
pubspec.lock
build/
.dart_frog/

# =========================
# Cobertura de testes
# =========================
coverage/

# =========================
# Flutter - arquivos gerados
# =========================
**/GeneratedPluginRegistrant.swift
**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/generated_plugins.cmake
